# Ignore directories
__pycache__/
.mypy_cache/

# Ignore files
*.py[cod]
config.py
.vscode/settings.json
.vscode/.ropeproject/objectdb
crimsobot/utils/image2.py
crimsobot/utils/image_old.py
crimsobot/utils/image2.py
