[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pep8-naming = "*"
bandit = "*"
mccabe = "*"
flake8-import-order = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-quotes = "*"
mypy = "*"
pre-commit = "*"

[packages]
colormath = "~=3.0"
geopy = "~=1.20"
lxml = "~=4.3"
markovify = "~=0.7"
matplotlib = "~=3.0"
nltk = "~=3.4"
numpy = "~=1.16"
pandas = "~=0.24"
pyshorteners = "~=0.6"
pyyaml = "~=5.3"
requests = "~=2.21"
scipy = "~=1.2"
timezonefinder = "~=4.0"
Pillow = "~=6.1"
"discord.py" = "~=1.3"
aiofiles = "~=0.4"
click = "~=7.0"
tortoise-orm = "~=0.12"
aiosqlite = "*"
aiomysql = "*"
